@import url(https://use.typekit.net/qrm5hnm.css);
li {
  list-style: none;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 13vh;
  background: #1c2e3c;
  font-family: bilo-bold;
  font-weight: 600;
  color: #fefefe;
  font-size: 1.7vw;
  font-style: normal;
}

.header__logo {
  float: left;
  width: 15%;
  margin-left: 2vw;
}

.gnav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  padding-top: 5%;
  margin: 0;
  margin-right: 2vw;
}

.gnav__link {
  margin-left: 20px;
  color: #fefefe;
}

.gnav__link:hover {
  text-shadow: 0px 0px 20px #38b2ff;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.gnav__link-active {
  margin-left: 20px;
  color: #fefefe;
  text-shadow: 0px 0px 10px #ff3cad;
}

.gnav__link-active:hover {
  text-shadow: 0px 0px 20px #38b2ff;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.gnav__icon {
  width: 2.4vw;
  padding-right: 5px;
}

.gnav__line {
  width: 90%;
  -webkit-box-shadow: 0px 0px 10px #38b2ff;
          box-shadow: 0px 0px 10px #38b2ff;
}

html {
  width: 150vw;
  height: 150vw;
}

html html,
html body {
  overflow: hidden;
}

body {
  background-color: #021422;
  width: 100vw;
  height: 100vw;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-family: bilo-reguler;
  font-weight: 200;
  color: #fefefe;
  font-size: 1.7vw;
  font-style: normal;
}

.message {
  position: absolute;
  width: 50%;
  height: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 55%;
  left: 30%;
}

@media (max-width: 920px) {
  .message {
    display: none;
  }
}

@media (max-width: 480px) {
  .message {
    display: none;
  }
}

#logo {
  position: absolute;
  top: -70%;
  left: 8%;
  fill: white;
  width: 22vw;
  height: 30vw;
  pointer-events: none;
}

.comingsoonText {
  width: 40vw;
  height: 70vw;
  position: absolute;
  color: white;
  top: 40%;
  left: 50%;
  line-height: 2vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 0.85vw;
  font-weight: bold;
}

@media (max-width: 920px) {
  .comingsoonText {
    display: none;
  }
}

@media (max-width: 480px) {
  .comingsoonText {
    display: none;
  }
}

.comingsoonText .ityped-cursor {
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  color: #ffffff;
}

.comingsoonText h1 {
  font-weight: bold;
  font-size: 3vw;
  line-height: 3.5vw;
}

.comingsoonText h2 {
  line-height: 5vw;
  font-size: 1.5vw;
  font-weight: lighter;
}

.comingsoonText span {
  white-space: nowrap;
  border-right: 2px solid transparent;
}

#container svg {
  stroke-linecap: round;
  -webkit-filter: drop-shadow(0 0 5px white);
          filter: drop-shadow(0 0 5px white);
  pointer-events: none;
}

.countAnimation {
  width: 30vw;
  height: 30vw;
  position: relative;
  margin-left: 55vw;
  margin-top: 10vw;
}

@media (max-width: 920px) {
  .countAnimation {
    width: 70vw;
    height: 70vw;
    margin: 50vh auto 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media (max-width: 480px) {
  .countAnimation {
    width: 70vw;
    height: 70vw;
    margin: 50vh auto 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.countAnimation_circle-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  border: solid white 2px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.countAnimation_circle-2 {
  width: 85%;
  height: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: solid white 2px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.countAnimation .time {
  white-space: nowrap;
  font-size: 2.5vw;
  text-shadow: #38b2ff 0 0 5px;
  position: absolute;
  text-align: center;
  top: 60%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  -webkit-animation-name: animation-time;
          animation-name: animation-time;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@media (max-width: 920px) {
  .countAnimation .time {
    font-size: 5vw;
  }
}

@media (max-width: 480px) {
  .countAnimation .time {
    font-size: 7vw;
  }
}

.countAnimation .rotateBox {
  width: 200%;
  height: 200%;
  position: absolute;
  top: -50%;
  left: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}

.countAnimation .rotateBox_rotate {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}

.progressbar__label {
  font-family: bilo-regular;
  color: #ffffff;
  position: absolute;
  top: 40%;
  left: 50%;
  font-style: oblique;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: large;
  text-shadow: #38b2ff 0 0 5px;
  font-size: 4.5vw;
  opacity: 0;
  -webkit-animation-name: animation-rabel;
          animation-name: animation-rabel;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@media (max-width: 920px) {
  .progressbar__label {
    font-size: 7vw;
  }
}

@media (max-width: 480px) {
  .progressbar__label {
    font-size: 9vw;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes animation-time {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-time {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animation-rabel {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-rabel {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=comingsoon.css.map */