@charset "UTF-8";
li {
  list-style: none;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 10vh;
  background: #1c2e3c;
}

.footer__logo {
  height: 3vh;
  margin-right: 10vw;
  width: 10vw;
  min-width: 80px;
  margin-left: 10vw;
}

.footer__address {
  color: #fefefe;
  font-size: 1vw;
  text-align: left;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 13vh;
  background: #1c2e3c;
  font-family: bilo-bold;
  font-weight: 600;
  color: #fefefe;
  font-size: 20px;
  font-style: normal;
  font-size: 20px;
}

.header__logo {
  float: left;
  width: 15%;
  margin-left: 2vw;
}

@media (max-width: 920px) {
  .header__logo {
    display: none;
  }
}

.gnav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  padding-top: 5%;
  margin: 0;
  margin-right: 2vw;
}

@media (max-width: 920px) {
  .gnav__list {
    font-size: 18px;
    margin: 1px;
  }
}

.gnav__link {
  margin-left: 20px;
  color: #fefefe;
}

@media (max-width: 920px) {
  .gnav__link {
    margin: 2vw;
  }
}

.gnav__link:hover {
  text-shadow: 0px 0px 20px #38b2ff;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.gnav__link-active {
  margin-left: 20px;
  color: #fefefe;
  text-shadow: 0px 0px 10px #ff3cad;
}

.gnav__link-active:hover {
  text-shadow: 0px 0px 20px #38b2ff;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.gnav__icon {
  width: 2.4vw;
  padding-right: 5px;
}

.gnav__line {
  width: 90%;
  -webkit-box-shadow: 0px 0px 10px #38b2ff;
          box-shadow: 0px 0px 10px #38b2ff;
}

@font-face {
  font-family: Aquire;
  src: url("../../media/header/Aquire-BW0ox.otf");
}

html {
  scroll-behavior: smooth;
  width: 100vw;
}

.header {
  position: fixed;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(255, 255, 255, 0.7);
          box-shadow: 0px 3px 10px 0px rgba(255, 255, 255, 0.7);
  z-index: 1;
}

.header__logo {
  background-color: #1c2e3c;
}

.main {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.main__content {
  font-family: bilo-reguler;
  font-weight: 200;
  color: #fefefe;
  font-size: 1vh;
  font-style: normal;
  width: 100vw;
  position: relative;
}

@media (max-width: 920px) {
  .main__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__content#header_space {
  height: 13vh;
  background-color: #1c2e3c;
}

.main__content#theme_image {
  background-color: #011a2e;
  padding-top: 25vh;
}

.main__content#theme_image .content__image {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../media/home/background.png);
  width: 100vw;
  height: 180vh;
  background-position: center;
}

@media (max-width: 920px) {
  .main__content#theme_image .content__image {
    width: 100vw;
    height: 105vh;
  }
}

.main__content#event_about {
  height: 100vh;
  background-color: #1c2e3c;
}

.main__content#event_about .content__block {
  height: 68vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 920px) {
  .main__content#event_about .content__block {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -2vh;
  }
}

.main__content#event_about .block__textbox {
  height: 50vh;
}

@media (min-width: 920px) {
  .main__content#event_about .block__textbox {
    padding: 9vh 0;
  }
}

@media (max-width: 920px) {
  .main__content#event_about .block__textbox {
    padding: 2vh 0;
    font-size: 24px;
  }
}

.main__content#event_about .block__textbox h1 {
  margin: 5vh 0;
}

@media (min-width: 920px) {
  .main__content#event_about .block__textbox h1 {
    font-size: 3vw;
  }
}

@media (max-width: 920px) {
  .main__content#event_about .block__textbox h1 {
    font-size: 6vw;
  }
}

.main__content#event_about .block__textbox hr {
  border-style: none;
  height: 1vh;
  background-color: #fff;
  border-radius: 100px;
  -webkit-box-shadow: #fff8 0px 0px 10px 3px;
          box-shadow: #fff8 0px 0px 10px 3px;
  margin: 4vh 0;
}

.main__content#event_about .block__textbox p {
  font-size: 1.4vw;
  font-family: sans-serif;
  line-height: 4.4vh;
}

@media (min-width: 920px) {
  .main__content#event_about .block__textbox p {
    width: 42.5vw;
    padding-left: 0.1vw;
    letter-spacing: 0.144vw;
  }
}

@media (max-width: 920px) {
  .main__content#event_about .block__textbox p {
    font-size: 4vw;
  }
}

@media (min-width: 920px) {
  .main__content#event_about .block__image {
    margin-left: 8vw;
    margin-top: 8vh;
  }
}

@media (max-width: 920px) {
  .main__content#event_about .block__image {
    margin: 0 auto;
  }
}

@media (min-width: 920px) {
  .main__content#event_about .block__map {
    width: 40vw;
    height: 40vw;
  }
}

@media (max-width: 920px) {
  .main__content#event_about .block__map {
    width: 60vw;
  }
}

.main__content#program {
  height: 100vh;
  background-color: #011a2e;
}

@media (max-width: 920px) {
  .main__content#program {
    width: 100vw;
    height: 120vh;
  }
}

.main__content#program .content__block {
  height: 90vh;
}

.main__content#program .content__block hr.block__partition {
  border-style: none;
  height: 1vh;
  background-color: #fff;
  border-radius: 100px;
  -webkit-box-shadow: #fff8 0px 0px 10px 3px;
          box-shadow: #fff8 0px 0px 10px 3px;
  width: 40vw;
}

@media (min-width: 920px) {
  .main__content#program .content__block hr.block__partition {
    margin: 4vh 0;
  }
}

@media (max-width: 920px) {
  .main__content#program .content__block hr.block__partition {
    margin: 2vh auto;
  }
}

@media (max-width: 920px) {
  .main__content#program .content__block {
    bottom: 10%;
  }
}

@media (max-width: 920px) {
  .main__content#program .block__title h1 {
    font-size: 4vw;
    margin: 2vh 0;
    text-align: center;
  }
}

@media (min-width: 920px) {
  .main__content#program .block__title h1 {
    font-size: 2vw;
    margin: 5vh 0;
  }
}

.main__content#program .block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 920px) {
  .main__content#program .block__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__content#program .block__list table {
  width: 40vw;
}

@media (max-width: 920px) {
  .main__content#program .block__list table {
    height: 30vh;
  }
}

.main__content#program .block__list .list__item label#program_category {
  font-size: 2vw;
  font-weight: 700;
  cursor: default;
  text-shadow: none;
}

@media (max-width: 920px) {
  .main__content#program .block__list .list__item label#program_category {
    font-size: 4vw;
  }
}

.main__content#program .block__list .list__item.-open i {
  -webkit-transform: scaleX(-0.6);
          transform: scaleX(-0.6);
}

@media (max-width: 920px) {
  .main__content#program .block__list .list__item.-open i {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
}

.main__content#program .block__list .list__item-partition {
  height: 53vh;
  width: 0.1vw;
  background-color: #fff;
  -webkit-box-shadow: #fff8 0px 0px 10px 3px;
          box-shadow: #fff8 0px 0px 10px 3px;
  border-radius: 100px;
  margin-left: 0vw;
  margin-top: 0.3vh;
}

@media (max-width: 920px) {
  .main__content#program .block__list .list__item-partition {
    width: 90vw;
    margin-top: 2vh;
    height: 0.1vh;
  }
}

.main__content#program .block__list .list__item:hover label {
  text-shadow: 0px 0px 8px white;
  font-weight: 300;
  cursor: pointer;
}

.main__content#program .block__list .list__item:hover i {
  text-shadow: 0px 0px 8px white;
  cursor: pointer;
}

.main__content#program .block__list .list__item h2 {
  font-size: 1.9vw;
  padding-bottom: 9.3vh;
}

.main__content#program .block__list .list__item button {
  border-style: none;
  background-color: transparent;
}

.main__content#program .block__list .list__item button label {
  color: #fff;
  font-size: 1.2vw;
  font-family: sans-serif;
  font-weight: 200;
  letter-spacing: 0.08vw;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0);
  -webkit-transition: text-shadow 300ms, font-weight 300ms;
  transition: text-shadow 300ms, font-weight 300ms;
  white-space: nowrap;
}

@media (max-width: 920px) {
  .main__content#program .block__list .list__item button label {
    font-size: 3vw;
  }
}

.main__content#program .block__list .list__item button i {
  color: #fff;
  font-size: 1.3vw;
  -webkit-transform: scaleX(0.6);
          transform: scaleX(0.6);
  position: absolute;
  left: 38.4vw;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0);
  -webkit-transition-property: text-shadow, -webkit-transform;
  transition-property: text-shadow, -webkit-transform;
  transition-property: text-shadow, transform;
  transition-property: text-shadow, transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

@media (max-width: 920px) {
  .main__content#program .block__list .list__item button i {
    font-size: 3vw;
    left: 60vw;
  }
}

.main__content#program .block__list .list__list#content_list {
  margin-left: 3.6vw;
  margin-top: 2.3vh;
  width: 8vw;
}

.main__content#program .block__list .list__list#content_list hr {
  border-style: none;
  margin: 2.5vh 0;
}

.main__content#program .block__list .list__list#content_list .list__item {
  padding: 1vh 0;
}

.main__content#program .block__list .list__list#type_list hr {
  border-style: none;
}

.main__content#program .block__list .list__textbox {
  font-size: 1.5vw;
  margin-left: 1.8vw;
  letter-spacing: 0.05vw;
  padding: 0.5vh 1vw;
  font-family: sans-serif;
  width: 45vw;
  line-height: 4vh;
}

@media (max-width: 920px) {
  .main__content#program .block__list .list__textbox {
    line-height: 3vh;
  }
}

.main__content#program .block__list .list__textbox p {
  margin: 0;
}

.main__content#program .block__list .list__textbox .textbox__text {
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
  line-height: 4vh;
}

.main__content#program .block__list .list__textbox .textbox__text.-hide {
  opacity: 0;
  display: none;
}

@media (max-width: 920px) {
  .main__content#program .block__list .list__textbox .textbox__text {
    width: 80vw;
    text-align: center;
    font-size: 18px;
    margin-top: 2vh;
  }
}

.main__content#program .block__list .list__textbox .textbox__textbox {
  display: none;
  position: absolute;
  left: 48vw;
  top: 22vh;
  background-color: #011a2e;
  width: 44vw;
  height: 50vh;
  padding: 1vh 1vw;
  opacity: 0;
  -webkit-transform: translate(-2vw, 0vh);
          transform: translate(-2vw, 0vh);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
}

.main__content#program .block__list .list__textbox .textbox__textbox.-open {
  opacity: 1;
  display: block;
  -webkit-transform: translate(0vh, 0vw);
          transform: translate(0vh, 0vw);
}

.main__content#goods_and_campusimage {
  height: 100vh;
  background-color: #1c2e3c;
}

.main__content#goods_and_campusimage .content__block {
  height: 65vh;
}

@media (max-width: 920px) {
  .main__content#goods_and_campusimage .content__block .block__title h1 {
    font-size: 5vw;
    margin: 2vh 0;
    text-align: center;
  }
}

@media (min-width: 920px) {
  .main__content#goods_and_campusimage .content__block .block__title h1 {
    font-size: 3vw;
    margin: 5vh 0;
  }
}

.main__content#goods_and_campusimage .content__block .block__partition {
  border-style: none;
  height: 1vh;
  background-color: #fff;
  border-radius: 100px;
  -webkit-box-shadow: #fff8 0px 0px 10px 3px;
          box-shadow: #fff8 0px 0px 10px 3px;
  width: 34.5vw;
}

@media (min-width: 920px) {
  .main__content#goods_and_campusimage .content__block .block__partition {
    margin: 4vh 0;
  }
}

@media (max-width: 920px) {
  .main__content#goods_and_campusimage .content__block .block__partition {
    margin: 2vh auto;
  }
}

.main__content#goods_and_campusimage .content__block .block__imagebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 53vh;
  width: 85vw;
}

@media (max-width: 920px) {
  .main__content#goods_and_campusimage .content__block .block__imagebox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__content#goods_and_campusimage .content__block .block__imagebox .imagebox__item {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 920px) {
  .main__content#goods_and_campusimage .content__block .block__imagebox .imagebox__item {
    width: 23vw;
    padding-right: 3vw;
  }
}

@media (max-width: 920px) {
  .main__content#goods_and_campusimage .content__block .block__imagebox .imagebox__item {
    max-width: 90vw;
    height: 30vh;
    padding-top: 2vh;
  }
}

.main__content#goods_and_campusimage .content__block .block__imagebox .imagebox__item .item__item1 {
  background-image: url("/media/home/IMG_1650-強化.jpg");
  background-color: #fff;
}

.main__content#goods_and_campusimage .content__block .block__imagebox .imagebox__item .item__item2 {
  background-image: url("/media/home/IMG_6033.jpeg");
  background-color: #fff;
}

.main__content#goods_and_campusimage .content__block .block__imagebox .imagebox__item .item__item3 {
  background-image: url("/media/home/IMG_6033.jpeg");
  background-color: #fff;
}

.main__content#goods_and_campusimage .content__block .block__imagebox .imagebox__item .item__item4 {
  background-image: url("/media/home/IMG_6033.jpeg");
  background-color: #fff;
}

.content__block {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0 7.5vw 3.6vh 7.5vw;
}

.content__block#event_about {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.fal {
  margin-left: 5vw;
}

@media (max-width: 920px) {
  .fal {
    margin-left: 30vw;
  }
}

@media (max-width: 920px) {
  #goods_and_campusimage {
    display: none;
  }
}
/*# sourceMappingURL=landing.css.map */