@import "../style.scss";
@font-face {
    font-family: Aquire;
    src: url("../../media/header/Aquire-BW0ox.otf");
}

$pc: 920px; // PC
$tab: 920px; // タブレット
$sp: 480px; // スマホ
@mixin pc {
    @media (min-width: ($pc)) {
        @content;
    }
}

@mixin tab {
    @media (max-width: ($tab)) {
        @content;
    }
}

@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

@mixin ls {
    @media (orientation: landscape) {
        @content;
    }
}

html {
    scroll-behavior: smooth;
    width: 100vw;
}

.header {
    position: fixed;
    box-shadow: 0px 3px 10px 0px rgba(255, 255, 255, 0.7);
    z-index: 1;
    &__logo {
        background-color: $header_background;
    }
}

.main {
    height: max-content;
    &__content {
        @include tab {
            flex-direction: column;
        }
        @include bilo_regular(1vh);
        width: 100vw;
        position: relative;
        &#header_space {
            height: 13vh;
            background-color: $header_background;
        }
        &#theme_image {
            background-color: $main_background;
            padding-top: 25vh;
            & .content {
                &__image {
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-image: url(../../media/home/background.png);
                    width: 100vw;
                    height: 180vh;
                    background-position: center;
                    @include tab {
                        width: 100vw;
                        height: 105vh;
                    }
                }
            }
        }
        &#event_about {
            height: 100vh;
            background-color: $header_background;
            & .content__block {
                height: 68vh;
                display: flex;
                @include tab {
                    height: 100vh;
                    flex-direction: column;
                    margin-top: -2vh;
                }
            }
            & .block {
                &__textbox {
                    height: 50vh;
                    @include pc {
                        padding: 9vh 0;
                    }
                    @include tab {
                        padding: 2vh 0;
                        font-size: 24px;
                    }
                    & h1 {
                        @include pc {
                            font-size: 3vw;
                        }
                        @include tab {
                            font-size: 6vw;
                        }
                        margin: 5vh 0;
                    }
                    & hr {
                        border-style: none;
                        height: 1vh;
                        background-color: #fff;
                        border-radius: 100px;
                        box-shadow: #fff8 0px 0px 10px 3px;
                        margin: 4vh 0;
                    }
                    & p {
                        font-size: 1.4vw;
                        font-family: sans-serif;
                        line-height: 4.4vh;
                        @include pc {
                            width: 42.5vw;
                            padding-left: 0.1vw;
                            letter-spacing: 0.144vw;
                        }
                        @include tab {
                            font-size: 4vw;
                        }
                    }
                }
                &__image {
                    @include pc {
                        margin-left: 8vw;
                        margin-top: 8vh;
                    }
                    @include tab {
                        margin: 0 auto;
                    }
                }
                &__map {
                    @include pc {
                        width: 40vw;
                        height: 40vw;
                    }
                    @include tab {
                        width: 60vw;
                    }
                }
            }
        }
        &#program {
            height: 100vh;
            @include tab {
                width: 100vw;
                height: 120vh;
            }
            background-color: $main_background;
            & .content__block {
                height: 90vh;
                & hr.block__partition {
                    border-style: none;
                    height: 1vh;
                    background-color: #fff;
                    border-radius: 100px;
                    box-shadow: #fff8 0px 0px 10px 3px;
                    @include pc {
                        margin: 4vh 0;
                    }
                    @include tab {
                        margin: 2vh auto;
                    }
                    width: 40vw;
                }
                @include tab {
                    bottom: 10%;
                }
            }
            & .block {
                &__title {
                    & h1 {
                        @include tab {
                            font-size: 4vw;
                            margin: 2vh 0;
                            text-align: center;
                        }
                        @include pc {
                            font-size: 2vw;
                            margin: 5vh 0;
                        }
                    }
                }
                &__list {
                    display: flex;
                    @include tab {
                        flex-direction: column;
                    }
                    & table {
                        width: 40vw;
                        @include tab() {
                            height: 30vh;
                        }
                    }
                    & .list {
                        &__item {
                            & label#program_category {
                                font-size: 2vw;
                                font-weight: 700;
                                cursor: default;
                                text-shadow: none;
                                @include tab() {
                                    font-size: 4vw;
                                }
                            }
                            &.-open {
                                & i {
                                    transform: scaleX(-0.6);
                                    @include tab {
                                        transform: rotateZ(90deg);
                                    }
                                }
                            }
                            &-partition {
                                height: 53vh;
                                width: 0.1vw;
                                background-color: #fff;
                                box-shadow: #fff8 0px 0px 10px 3px;
                                border-radius: 100px;
                                margin-left: 0vw;
                                margin-top: 0.3vh;
                                @include tab {
                                    width: 90vw;
                                    margin-top: 2vh;
                                    height: 0.1vh;
                                }
                            }
                            &:hover label {
                                text-shadow: 0px 0px 8px rgba(255, 255, 255, 1);
                                font-weight: 300;
                                cursor: pointer;
                            }
                            &:hover i {
                                text-shadow: 0px 0px 8px rgba(255, 255, 255, 1);
                                cursor: pointer;
                            }
                            & h2 {
                                font-size: 1.9vw;
                                padding-bottom: 9.3vh;
                            }
                            & button {
                                border-style: none;
                                background-color: transparent;
                                & label {
                                    color: #fff;
                                    font-size: 1.2vw;
                                    font-family: sans-serif;
                                    font-weight: 200;
                                    letter-spacing: 0.08vw;
                                    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0);
                                    transition: text-shadow 300ms, font-weight 300ms;
                                    white-space: nowrap;
                                    @include tab() {
                                        font-size: 3vw;
                                    }
                                }
                                & i {
                                    color: #fff;
                                    font-size: 1.3vw;
                                    transform: scaleX(0.6);
                                    position: absolute;
                                    left: 38.4vw;
                                    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0);
                                    transition-property: text-shadow, transform;
                                    transition-duration: 300ms;
                                    @include tab {
                                        font-size: 3vw;
                                        left: 60vw;
                                    }
                                }
                            }
                        }
                        &__list {
                            &#content_list {
                                margin-left: 3.6vw;
                                margin-top: 2.3vh;
                                width: 8vw;
                                @include tab {
                                    // width: 100vh;
                                }
                                & hr {
                                    border-style: none;
                                    margin: 2.5vh 0;
                                }
                                & .list {
                                    &__item {
                                        padding: 1vh 0;
                                    }
                                }
                            }
                            &#type_list {
                                & hr {
                                    border-style: none;
                                }
                            }
                        }
                        &__textbox {
                            font-size: 1.5vw;
                            margin-left: 1.8vw;
                            letter-spacing: 0.05vw;
                            padding: 0.5vh 1vw;
                            font-family: sans-serif;
                            width: 45vw;
                            line-height: 4vh;
                            @include tab {
                                line-height: 3vh;
                            }
                            & p {
                                margin: 0;
                            }
                            & .textbox {
                                &__text {
                                    opacity: 1;
                                    transition-property: opacity;
                                    transition-duration: 600ms;
                                    line-height: 4vh;
                                    &.-hide {
                                        opacity: 0;
                                        display: none;
                                    }
                                    @include tab {
                                        width: 80vw;
                                        text-align: center;
                                        font-size: 18px;
                                        margin-top: 2vh;
                                    }
                                }
                                &__textbox {
                                    display: none;
                                    position: absolute;
                                    left: 48vw;
                                    top: 22vh;
                                    background-color: $main_background;
                                    width: 44vw;
                                    height: 50vh;
                                    padding: 1vh 1vw;
                                    opacity: 0;
                                    transform: translate(-2vw, 0vh);
                                    transition-property: opacity, transform;
                                    transition-duration: 600ms;
                                    @include tab {
                                        // top: 55%;
                                        // left: 50%;
                                        // transform: translate(-50%, 50%);
                                        // width: 80vw;
                                        // height: 65vw;
                                    }
                                    &.-open {
                                        opacity: 1;
                                        display: block;
                                        transform: translate(0vh, 0vw);
                                        @include tab {
                                            // opacity: 1;
                                            // display: block;
                                            // transform: translate(-50%, 50%);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &#goods_and_campusimage {
            height: 100vh;
            background-color: $header_background;
            & .content {
                &__block {
                    height: 65vh;
                    & .block {
                        &__title {
                            & h1 {
                                @include tab {
                                    font-size: 5vw;
                                    margin: 2vh 0;
                                    text-align: center;
                                }
                                @include pc {
                                    font-size: 3vw;
                                    margin: 5vh 0;
                                }
                            }
                        }
                        &__partition {
                            border-style: none;
                            height: 1vh;
                            background-color: #fff;
                            border-radius: 100px;
                            box-shadow: #fff8 0px 0px 10px 3px;
                            @include pc {
                                margin: 4vh 0;
                            }
                            @include tab {
                                margin: 2vh auto;
                            }
                            width: 34.5vw;
                        }
                        &__imagebox {
                            display: flex;
                            height: 53vh;
                            width: 85vw;
                            @include tab {
                                flex-direction: column;
                            }
                            & .imagebox {
                                &__item {
                                    @include pc {
                                        width: 23vw;
                                        padding-right: 3vw;
                                    }
                                    @include tab {
                                        max-width: 90vw;
                                        height: 30vh;
                                        padding-top: 2vh;
                                    }
                                    display: grid;
                                    & .item {
                                        &__item1 {
                                            background-image: url("/media/home/IMG_1650-強化.jpg");
                                            background-color: #fff;
                                        }
                                        &__item2 {
                                            background-image: url("/media/home/IMG_6033.jpeg");
                                            background-color: #fff;
                                        }
                                        &__item3 {
                                            background-image: url("/media/home/IMG_6033.jpeg");
                                            background-color: #fff;
                                        }
                                        &__item4 {
                                            background-image: url("/media/home/IMG_6033.jpeg");
                                            background-color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.content {
    &__block {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        height: max-content;
        &#event_about {
            display: inline-flex;
        }
        padding: 0 7.5vw 3.6vh 7.5vw;
    }
}

.fal {
    margin-left: 5vw;
    @include tab {
        margin-left: 30vw;
    }
}

@include tab {
    #goods_and_campusimage {
        display: none;
    }
}