.main {
    width: 100vw;
    height: 87vh;
    background-color: $main_background;
    text-decoration: none;
    &__content {
        @include bilo_regular(1vh);
    }
}
.list__item {
    background-color: $header_background;
}
.item__textbox {
    & h1{
        font-size: 1.2vw;
    }
}